<!DOCTYPE html>
<html>
<head>
  <title>My Book Online Store</title>
  <%= stylesheet_link_tag :depot %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body id="store">

    <div id="banner">
      <%= image_tag("logo.png") %>
      <%= @page_title || "Pragmatic Bookshelf" %>
    </div>
    <div id="columns">
      <div id="side">

        <div id="cart">
          <%= render(@cart) %>
        </div>
        <br/>
        <span>Last Access: <%= Time.new.strftime("%d/%m/%Y at %I:%M %p") %></span><br/><br/>
      </div>
      <div id="main">
        <%= yield %>
      </div>
    </div>

</body>
</html>
